body{
	background:#731F35;
}
.fila{
	height:;
}
.columna{

border:solid;
}
.columna1{
  border: solid black;
  background:#F2A391;
  height:100px;
}
.columna2{
  border: solid black;
  background:#BFA29B;
  height:300px;
}
.columna3{
  border:solid black;
  background:#F2E0DF;
  height:200px;
}
.columna4{
  border: solid black;
  background:#F20C0C;
  height:100px;
}
.columna5{
  border: solid black;
  background:#014029;
  height:100px;
}



